<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='style.css') }}"
/>

<body>
  <h1>welcome</h1>
  <h2>random numbers</h2>
  <ul>
      {% for num in random_numbers%}
        <li>{{num}}</li>
      {% endfor %}
  </ul>

<h2>users</h1>

  <table>
      <thead>
        <tr>
            <th>name</th>
            <th>last</th>
        </tr>
    </thead>

    <Tbody>
        {% for users in users%}
     <tr>
         <td>{{users['first_name']}}</td>
          <td>{{users['last_name']}}</td>
     </tr>
      {% endfor %}
    </Tbody>
  </table>

</div>
</body>
